@import "normalize.css";
* {
  font-family: Verdana, Tahoma, Arial sans-serif;
}
/*body*/
.body {
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 70%;
  min-height: 1200px;
  max-height: 6000px;
  background-image: url(../img/background.jpeg);
  background-size: cover;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}
/* header */
header {
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
  width: 100%;
  height: 280px;
  display: inline-block;
  text-align: center;
}
.logo {
  display: inline-block;
  padding: 10px;
  padding-top: 30px;
  width: 15%;
}
.title {
  display: inline-block;
  font-size: 70px;
  line-height: 200px;
  vertical-align: top;
  width: 65%;
  text-align: center;
  font-weight: bold;
}
/* links to login, logout, register, profile */
.authentication {
  display: inline-block;
  width: 15%;
  font-size: 20px;
  line-height: 30px;
}
.authentication a {
  color: black;
  padding: 16px;
  text-decoration: none;
}
.authentication a:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.2);
  font-size: 22px;
}
/* navbar */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  text-align: center;
  padding: 16px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: block;
}
.menu ul li a:hover {
  color: black;
  transform: scale(1.2);
  text-decoration: none;
}
/*content*/
.content {
  width: 80%;
  min-height: 850px;
  max-height: 3500px;
  margin-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}
/* display recipe */
.flex_container_recipe {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 900px;
  flex-wrap: wrap;
}
.flex_item_recipe_picture {
  background-image: url(../img/placeholder.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 30px;
  margin-left: 50px;
  width: 200px;
}
.flex_item_recipe_content {
  width: 650px;
  min-height: 200px;
}
.flex_item_recipe_content a {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
.flex_item_recipe_content a:hover {
  color: black;
  font-size: 1.5em;
  text-decoration: underline;
}
.flex_item_recipe_content .cookerhood {
  width: 30px;
  height: 30px;
}
.flex_item_recipe_content .unit_of_measurements {
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}
.flex_item_recipe_content .ingredients {
  padding-left: 20px;
  padding-right: 20px;
}
.flex_item_recipe_content tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.3);
}
/* filter recipe */
.filter_recipe {
  display: inline-block;
  margin-bottom: 50px;
}
/* errors */
.error {
  font-weight: bold;
  border: 5px solid red;
  color: black;
  padding: 16px;
}
.error li {
  list-style-image: url(../img/error.png);
}
/* form */
form {
  margin: 10px;
}
form input {
  display: block;
  width: 250px;
  margin: 5px;
}
form select {
  width: 200px;
  margin: 5px;
}
form .input_ingredients {
  display: inline-block;
}
form .input_measure {
  display: inline-block;
  width: 100px;
}
form .select_unit_of_measurement {
  display: inline-block;
  width: 100px;
}
form .file_upload {
  width: 400px;
}
form .description_div {
  margin: 5px;
}
form .description_label {
  margin-left: -5px;
  margin-bottom: 10px;
}
form .description {
  width: 655px;
  min-height: 300px;
}
/* button */
button,
.button {
  background-color: khaki;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
}
button:hover,
.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transform: scale(1.2);
}
.favorite_button {
  background-color: transparent;
  font-size: 51px;
  color: red;
  text-decoration: none;
  border: none;
}
.favorite_button:hover {
  background-color: transparent;
  transform: scale(1.4);
  color: red;
  text-decoration: none;
  border: none;
}
/* rating and favorite */
.rating_favorite {
  width: 220px;
  display: inline-block;
  text-align: center;
  padding-right: 50px;
}
/* footer */
footer {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 1px solid grey;
  margin-top: 8px;
}
.confirmation {
  font-weight: bold;
  text-align: center;
}
/* rating */
div.cookerhood_rating {
  width: 250px;
  display: inline-block;
}
input.cookerhood_rating {
  display: none;
}
label.cookerhood_rating {
  float: right;
  padding: 5px;
}
input.cookerhood_rating:checked ~ label.cookerhood_rating:before {
  content: url(../img/little_cookerhood_full.png);
}
input.cookerhood-5:checked ~ label.cookerhood_rating:before {
  content: url(../img/little_cookerhood_full.png);
}
input.cookerhood-1:checked ~ label.cookerhood_rating:before {
  content: url(../img/little_cookerhood_full.png);
}
label.cookerhood_rating:hover {
  content: url(../img/little_cookerhood_full.png);
}
label.cookerhood_rating:hover ~ label.cookerhood_rating:before {
  content: url(../img/little_cookerhood_full.png);
}
label.cookerhood_rating:before {
  content: url(../img/little_cookerhood.png);
}
.admin_table {
  text-align: left;
  border-spacing: 10px;
}
/*# sourceMappingURL=style.css.map */